
.bar-nav-items {
    position: relative;
    z-index: 30;
}

.bar-nav-items::after {
    position: absolute;
    background-color: #636363;
    top: 0;
    right: 0px;
    border-radius: 0px 24px 0px 50px;
    z-index: -10;
    overflow: hidden;
    content: "";
    height: 40px;
    width: 40px;
    rotate: 0deg;
}

.bar-header {
    position: relative;
}

.bar-header::after {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 0px 20px;
    bottom: -20px;
    right: 0px;
    height: 40px;
    width: 40px;
    content: "";
}